/* CSS DE ADMINISTRAR PRODUCTOS */

.administar-productos{
    display: flex;
    flex-direction: column;
    background: #E5E5E5;
    padding: 4em 5%;
}

.administrar-productos__container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.administrar-productos__productos, .administrar-productos__productos--2, .administrar-productos__productos--3{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.administrar-productos__titulo{
    color: var(--color-descripcion);
    font-family: var(--Raleway);
}

.administrar-productos__imagen--contenedor{
    display: flex;
    flex-direction: column;
}
.administrar-productos__descripcion{
    color: var(--color-descripcion);
    font-family: var(--Raleway);
}
.administrar-productos__precio{
    color: var(--color-descripcion);
    font-family: var(--Raleway);
    font-weight: bold;
}

.fa-trash-can{
    font-size: large;
    color: #fdfdfd;
}
.fa-pen-to-square{
    font-size: large;
    color: #fdfdfd;
}

.administrar-productos__boton{
    background: var(--color-azul);
    color: var(--color-blanco);
    border: none;
    width: 144px;
    height: 51px;
    font-family: var(--Raleway);
}
.fa-trash-can{
    background: transparent;
    position: relative;
    width: 27px;
    height: 28px;
    top: 69px;
    left: 113px;
    border: none;
}
.fa-pen-to-square{
    background: transparent;
    position: relative;
    width: 27px;
    height: 28px;
    top: 40px;
    left: 148px;
    border: none;
}
.administrar-productos__edit{
    background: transparent;
    position: relative;
    width: 27px;
    height: 28px;
    top: 36px;
    left: 141px;
    border: none;
}